/*Barra de Navegacion */
.container-fluid{
				  background-color: #EAA798;

				}


.navbar-brand p{

					font-family: 'Comforter', cursive;
					font-size: 4rem;
				} 


.nav-redes {
		       position: absolute;
			   left:  45%;
			   top: 2.7rem;
		    }

		    /*Fin de Modificaciones de la barra de Navegacion*/

.w-100{/*modificaciones a las Fotos del Carousel*/
			height: 500px;
			object-fit: cover;
       }
       
#contacto{
			width: 80%;
			margin: auto;
		  }
#footer{
			background-color: #664942;
        }

.redes li{
			list-style: none;
          }
